/* variables */
:root{
    --main--bg-color: #f3f3f3;
    --main-color-400: #bfbfbf;
    --main-color-800: #333333;
    --main-color-accent: #009299;
    --secondary-color-accent:#d00f4e;

    --font-size-200: .75rem;
    --font-size-300: 1rem;
    --font-size-400: 1.125rem;
    --font-size-500: 1.25rem; 
    --font-size-300: 1.5rem;
    --font-size-900: 1.875rem;

    --fw-400: 400;
    --fw-700: 700;

    --lh-400: 1.2em;

    --br-300: 1rem;
    --br-400: 2rem;

    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-400: 2rem;
    --spacing-700: 3rem;
    --spacing-800: 4.5rem;
    --spacing-900: 6.25rem;
}

/* reset */ 
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img{
  display: block;
  width: 100%;
}

/* base */
html{
  scroll-behavior: smooth;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--main-color-800);
}

h1,h2{
  font-size: var(--font-size-900);
  font-weight: var(--fw-700);
  line-height: var(--lh-400);
}
h3, h2.hero__subtitle{
  font-size: var(--font-size-500);
  margin-block-start: var(--spacing-200);
  margin-block-end: var(--spacing-400);
  line-height: var(--lh-400);
}
button, input[type="submit"]{
  background-color: var(--secondary-color-accent);
  text-transform: uppercase;
  font-size: var(--font-size-500);
  color: white;
  border: none;
  border-radius: var(--br-300);
  padding: var(--spacing-200) var(--spacing-400);
  margin-top: var(--spacing-400);
  font-weight: var(--fw-700);
  align-self: flex-start;
  cursor: pointer; 
}

/* layout */
.main{
 width: min(100% - 2rem, 1280px);
 margin-inline: auto;
 background-color: var(--main--bg-color);
}
@media screen and (max-width: 600px) {
  .main{
    width: 100%;
  }
}

.header{
  
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;

  padding: 10px;

  img{
    height: 45px;
  }
}
.two-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-400);
}
.two-columns.info {
  gap:0;
}
@media screen and (max-width: 960px) {
  .two-columns{
    grid-template-columns: 1fr;
  }
  .hero__content.two-columns{
    grid-template-columns: 1fr 1fr;
  }
  footer .social{
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .hero{
    padding: var(--spacing-400) var(--spacing-200) !important;
  }
  .hero__content.two-columns{
    grid-template-columns: 1fr;
  }
}

.hero{
  background-color: var(--main-color-accent);
  background-image: url(../assets/images/RELYENS_hero_bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: var(--spacing-700);
  padding-bottom: var(--spacing-900);
  padding-top: var(--spacing-800);

  border-bottom-left-radius: 50% 3.75rem;
  border-bottom-right-radius: 50% 3.75rem;

  & .hero__col01{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .hero__content{
      & .hero__content_col01{
        & p{
          margin-block-end: var(--spacing-400);
        }
        & img{
          max-width: 10.625rem;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .hero__content img{
      display: none;
    }
    .hero__col01{
      order:2;
    }
    .hero__col02{
      order:1;
    }

  }



  @media screen and (max-width: 960px) {
    .hero.two-columns{
      background-position: left center !important;
    }
    .hero__content_col02 {
      order: 1;
    }
    
    .hero__content_col01 {
      order: 2;
    }
    .hero__content_col02 img {
      max-width:70%;
      margin: 0 auto;
    }
    .hero__content.two-columns{
      gap: 0;
    }

    footer .two-columns .col02 .social{
      padding-left:0;
    }
  }



  .hero__col02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .form__header p{
      margin-block-start: var(--spacing-200);
    }
    & .form_container{
      background-color: var(--main-color-400);
      border-radius: var(--br-400);

      padding: 2rem;

      box-shadow: 0 7px 7px var(--main-color-accent);

      & .form form{
        margin-top: var(--spacing-400);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);

        & input{
          border: none;
          border-radius: var(--br-300);
          padding: var(--spacing-100) var(--spacing-200);
        }
        & input[type="submit"] {
          margin-top: var(--spacing-200);
        }
        & label[for="field_accept"]{
          color: var(--main-color-accent);
          font-size: var(--font-size-200);
        } 
      }
    
      & .form__footer{
        margin-top: var(--spacing-200);
        font-size: var(--font-size-200);
        color: var(--main-color-accent);
      }
    }
  }
}

.cards{
  margin: var(--spacing-900) var(--spacing-400);
}
& .title_wrap {
  text-align: center;
  margin: var(--spacing-400) 0;
}
& .card-list{
  --column-breakpoint: 18.75rem; /*three columns: cards*/

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-breakpoint), 1fr));
  gap: var(--spacing-400) var(--spacing-700);
  .card{
    background-color: var(--main-color-accent);
    background-image: url(../assets/images/card_bg_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 14.375rem;
    border-radius: var(--br-400);
    padding: var(--spacing-400);

    font-size: var(--font-size-500);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    & img{
      max-width: 3.125rem;
    }
    & p {
      color: white;
    }
    & h4{
      font-weight: var(--fw-700);
      color: white;
      margin-top: var(--spacing-200);
      margin-bottom: var(--spacing-100);
    }
  }
}
& .button_wrap{
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cards{
    margin: var(--spacing-700) var(--spacing-200);
  }
}

.info{
  .col02{
    background-color: var(--main-color-400);
    color: var(--main-color-800);
    padding: var(--spacing-400);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content{
      margin-block-start: var(--spacing-200);
    }
  }
}

footer{
  background-color: var(--main-color-accent);
  background-image: url(../assets/images/RELYENS_hero_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: var(--spacing-900) var(--spacing-400);

  & .col01{
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  & .col01 img{
    max-width: 15rem;
  }

  & .col01 p{
    margin-top: var(--font-size-300);
    color: white;
  }

  & .col02 .social{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--spacing-900);
    gap: calc(var(--font-size-200)/2);


   & li.social-buttons{
      min-width: 10.375rem;
      background-color: white;
      color: var(--main-color-accent);
      font-size: var(--font-size-400);
      font-weight: var(--fw-700);
      align-self: start;
      padding: var(--spacing-100) var(--spacing-400);
      border-radius: var(--br-400);
      display: flex;
      justify-content: center;
     & img{
      max-width: 20px;
      margin-right: var(--spacing-100);
     }
     & a {
      text-decoration: none;
      color: var(--main-color-accent);
     }
    }
  }
}

@media screen and (max-width: 600px) {
  footer{
    padding: var(--spacing-700) var(--spacing-200);
  }
}